{% extends 'base/base.html' %}
{% block title %}Search Events{% endblock title %}
{% block breadcrumb %}Search Events{% endblock breadcrumb %}
{% load static %}

{% block content %}


<div class="container mt-4">

    {% if results %}
    <div class="row g-4">
        {% for event in results %}
        {% include "Event/event_card.html" %}
        {% empty %}
        <div class="col-12 text-center">
            <div class="alert alert-info">
                <i class="fas fa-info-circle me-1"></i> No events found.
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <div class="text-center mt-5">
        <div class="alert alert-info">
            <i class="fas fa-info-circle me-1"></i> No events found.
        </div>
    </div>
    {% endif %}

</div>
{% endblock content %}
