<!DOCTYPE html>
<html>
  {% load static %}
<head>
  <meta charset="utf-8">
  <title>Logged Out</title>
  {% include 'base/header.html' %}
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Admin </b>Logout</a>
  </div>
  <div class="card">
    <div class="card-body login-card-body text-center">
      <p class="login-box-msg">You have been successfully logged out.</p>

      
    </div>
  </div>
</div>
{% include 'base/js.html' %}
</body>
</html>
