{% if users %}
  <div class="list-group list-group-flush">
    {% for user in users %}
      <a href="{% url 'user_profile' username=user.username %}" class="list-group-item list-group-item-action d-flex align-items-center">
        <img src="{{ user.profile.image.url }}" class="img-circle elevation-1 mr-2" style="width: 30px; height: 30px;" alt="{{ user.username }}">
        <span class="text-dark">{{ user.username }}</span>
        <i class="fas fa-external-link-alt text-muted small ml-auto"></i>
      </a>
    {% endfor %}
  </div>
{% else %}
  <p class="text-center text-muted p-3 m-0">{{ target_user.username }} is not following anyone yet.</p>
{% endif %}